body {background-color: rgb(43, 44, 46);
    font-family: Arial, Helvetica, sans-serif;    
}

h1 {
    color: rgb(204, 204, 216);
    font-family: Arial, Helvetica, sans-serif;  
}

h2   {color: rgb(255, 255, 255);}

h4   {color: rgb(255, 255, 255);}
    
p    {color: rgb(255, 255, 255);}